---
import { getNotionTexts } from '../lib/notion';
import { notionDatabases } from '../lib/notionConfig';

const textTop = await getNotionTexts(notionDatabases.nosotrosTxt1);
const textBottom = await getNotionTexts(notionDatabases.nosotrosTxt2);

const bgBottomAbout = '/images/bg-bottom-about.webp';
---

<div class="section-about">
    <div class="container">
        <div class="row-about row">
            <div class="row-about__col">
                {textTop.slice().reverse().map((t) => (
                    <div class="txt-top-section light">
                        <span>{t.textTop}</span>
                    </div>
                    <div class="title-section light">
                        <h2>{t.title}&nbsp;<span>{t.titlei}</span></h2>
                        <div class="subtitle">
                            <p><strong>{t.content1}</strong></p>
                            <p>{t.content2}</p>
                        </div>
                    </div>
                ))}
            </div>
            <div class="row-about__col">
                <div class="box-img-cpragma"></div>
            </div>
        </div>
    </div>
</div>


<div class="section-bottom-about" style={`background-image: url(${bgBottomAbout})`}>
    <div class="container">
        {textBottom.slice().reverse().map((t) => (
            <div class="title-section dark">
                <h2>{t.title}&nbsp;<span>{t.titlei}</span></h2>
            </div>
            <div class="row row-txt-bottom-about">
                <div class="row-txt-bottom-about__col">
                    <p>{t.content1}</p>
                </div>
                <div class="row-txt-bottom-about__col">
                    <p>{t.content2}</p>
                </div>
            </div>
        ))}
    </div>
</div>