---
import SectionGlobes from '../components/HomeSectionGlobes.astro';

import { getNotionTexts } from '../lib/notion';
import { notionDatabases } from '../lib/notionConfig';

const text = await getNotionTexts(notionDatabases.homeServicios);

const bgC = '/images/bg-c.svg';
---

<div id="service" class="section-service" style={`background-image: url(${bgC})`}>
    {text.slice().reverse().map((t) => (
        <div class="container">
            <div class="txt-top-section light">
                <span>{t.textTop}</span>
            </div>
            <div class="title-section light">
                <h2>
                    {t.title}
                    <span>{t.titlei}</span>
                    {t.titleLast}
                </h2>
            </div>
            <div class="service-txt-row row">
                <div class="service-txt-row__col">
                    <p>{t.content1}</p>
                </div>
                <div class="service-txt-row__col">
                    <p>{t.content2}</p>
                </div>
            </div>

            <SectionGlobes
                txtGlobeFirst={t.globe1}
                txtGlobeSecond={t.globe2}
                txtGlobeThird={t.globe3} 
            />

        </div>
    ))}
</div>