---
import SectionGlobes from '../components/HomeSectionGlobes.astro';
import SectionCircles from '../components/HomeCircleImages.astro';

import { getNotionTexts } from '../lib/notion';
import { notionDatabases } from '../lib/notionConfig';

const text = await getNotionTexts(notionDatabases.homeMetodologia);
---

<div class="section-method">
    {text.slice().reverse().map((t) => (
        <div class="container">
            <div class="row-method row">
                <div class="row-method__col row-method__col--title">

                    <div class="txt-top-section dark">
                        <span>{t.textTop}</span>
                    </div>
                    <div class="title-section dark">
                        <h2>{t.title} <span>{t.titlei}</span></h2>
                        <div class="subtitle">
                            <p>{t.content}</p>
                        </div>
                    </div>

                </div>
                <SectionCircles />
            </div>

            <SectionGlobes
                theme="dark"
                txtGlobeFirst={t.globe1}
                txtGlobeSecond={t.globe2}
                txtGlobeThird={t.globe3}
            />

        </div>
    ))}
</div>

